.dropdown {
    height: 2rem;
    border: 1px solid rgb(63, 63, 63);
    padding: 0 2rem 0 1rem;
    cursor: pointer;
    &:hover {
        border: 1px solid white;
    }
    &::after {
        content: "";
        height: .35rem;
        width: .35rem;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        transform: rotate(45deg) translateY(-.2rem);
        position: absolute;
        right: .75rem;
    }
    &__ul {
        left: 0;
        top: 100%;
        background-color: var(--color-body);
        color: var(--color-primary);
        border: 1px solid rgb(63, 63, 63);
        z-index: 1;
        li {
            padding: .5rem 0;
            &:hover, &:active {
                background-color: rgb(238, 238, 238);
            }
        }
    }
}
