
.no-item-msg {
    text-align: right;
    padding: 1.5rem;
    background-color: var(--color-primary);
}
.cart {
    position: fixed;
    top: 0;
    max-height: 100vh;
    color: #bcbbb4;
    z-index: 2;
    transition: transform 500ms ease-out;
    transform: translate3d(0,-100%,0);
    &__inner {
        background-color: var(--color-primary);
    }
    &__btn-cross {
        span {
            background-color: #bcbbb4;
        }
        &:hover {
            span {
                background-color: white;
            }
        }
    }
}

.cart {
    &__block {
        padding: 1rem 0;
        margin: 0 1rem;
        &--header {
            border-bottom: 2px solid rgb(63, 63, 63);
        }
        &--cart-item {
            border-bottom: 1px solid rgb(63, 63, 63);
            &__title {
                font-size: 1rem;
            }
            &__details, &__remove-btn {
                display: inline;
                font-size: .75rem;
            }
            &__remove-btn {
                margin-left: 1rem;
                color: #bcbbb4;
            }
            &__price {
                font-size: .75rem;
            }
        }
    }
}

.cart-bg {
    top: 0;
    z-index: -1;
}

.cart {
    &__inner__bottom { 
        padding: 1rem;
        &__p {
            font-size: .75rem;
        }
    }
    &__checkout {
        border-top: 1px solid grey;
        padding-top: 1rem;
        &__p {
            font-size: .75rem;
        }
        &__total {
            padding: 1rem 0;
        }
        &__btn {
            background-color: rgb(206, 206, 206);
            color: var(--color-primary);
            &:hover {
                background-color: white;
                color: var(--color-primary);
            }
        }
    }
}

@media not all and (min-width: 100ch) {
   .cart {
        &__inner {
            height: 100vh;
        }
        &__block {
            &--cart-item {
                &__inner {
                    margin-bottom: 1rem;
                }
            }
        }
   }
}

@media (min-width: 100ch) { 
    .cart {
        &__inner {
            padding: 1rem calc(clamp(1rem, 3vw, 3rem) - 1rem);
            &__bottom {
                width: 30rem;
                margin: 0 0 0 auto;
                padding-top: 0;
                &__p {
                    position: absolute;
                    left: calc(clamp(1rem, 3vw, 3rem));
                }
            }
        }
        &__checkout {
            &__total {
                &__price {
                    font-size: 1.4rem;
                }
            }
        }
        &__block {
            &--cart-item {
                &__inner {
                    &__span {
                        width: 1rem;
                    }
                }
                &__remove-btn-l {
                    left: 5rem;
                    color: #bcbbb4;
                }
                &__price {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    .item-width-25 {
        width: 25%;
    }
}