.info-block {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 40rem;
    transform: translate3d(-100%,0,0);
    transition: transform 500ms ease-out;
    padding: 0 clamp(1rem, 7vw, 8rem);
    z-index: 2;
    &__btn-cross {
        right: 2rem;
        top: 1rem;
    }
}
.info-block-bg {
    position: fixed;
    top: 0;
    left: 0;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    animation: opacity 500ms ease-out forwards;

}