.header-nav {
    &__link {
        display: block;
        color: var(--color-primary);
    }
}

.button-control {
    &__cart {
        &__counter {
            right: 0;
            background-color: var(--color-primary);
            color: var(--color-body);
            padding: .2rem;
            border-radius: .7rem;
            line-height: 1;
            min-width: 1rem;
            font-size: 0.65rem;
            transform: translate(1rem, -0.5rem);
        }
    }
}

@media not all and (min-width: 100ch) {

    .header-nav {
        &__menu {
            position: absolute;
            top: 6.5rem;
            right: 0;
            left: 0;
            height: 100%;
            z-index: 1;
        }
        &__btn-cross {
            top: 1rem;
            right: 1rem;
        }
        &__link {
            border-top: 1px solid rgba(51, 51, 51, 0.2);
            padding: .5rem clamp(1rem, 3vw, 3rem);
            font-size: 1.2rem;
        }
        li {
            &:last-child a {
                border-bottom: 1px solid rgba(51, 51, 51, 0.2); 
            }
        }
        &__logo {
            svg {
                width: 5rem;
            }
        }
    }

    // menu animation
    .menu-animation {
        opacity: 0;
        animation: menuAnimation 200ms ease-in forwards;
    }


    @keyframes menuAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translate3d(0, -1.5rem, 0);
        }
    }

    .menu-btn {
        width: 30px;
        height: 30px;
        padding: 5px;
        span {
            background-color: var(--color-primary);
            height: 2px;
        }
    }

    .button-control {
        height: 5rem;
        transition: transform 300ms;
        background-color: var(--color-body);
        &__left > * {
            margin-left: clamp(.5rem, 7vw, 2.5rem);
            line-height: 0;
        }
    }

}

@media (min-width:100ch) {

    .header-nav {
        justify-content: space-between;
        padding-left: clamp(1rem, 3vw, 3rem);
        height: 5rem;
        &__logo {
            position: absolute;
            left: clamp(1rem, 3vw, 3rem);
            transform: translateY(10rem);
            svg {
                width: clamp(8rem, 5vw, 10em);
            }
        }
        &__menu {
            display: flex;
            align-items: center;
            &__ul {
                display: flex;
                width: max-content;
            }
        }
        &__link {
            margin: 0 clamp(1rem, 2vw, 2rem) 0 0;
        }
        li:last-child a {
            margin-right: 0;
        }
    }
    .button-control {
        transform: unset!important;
        padding-left: 1.5rem;
        &__left {
            width: 100%;
            justify-content: space-between;
        }
        &__login {
            margin-left: auto;
        }
        &__cart {
            margin-left: 1rem;
        }
    }

}

@media (min-width:150ch) {
    .header-nav {
        &__logo {
            transform: translateY(7rem);
        }
    }
}