.header-top {
    height: 2.5rem;
    cursor: pointer;
    &__title {
        font-size: clamp(.75rem, 3vw, .9rem); 
        line-height: 1.2;
    }
    &__plus {
        font-size: 1.25rem;
    }
    &__info {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        max-width: 40rem;
        transform: translate3d(-100%,0,0);
        transition: transform 500ms ease-out;
        &__btn-cross {
            right: 2rem;
            top: 1rem;
        }
    }
    &__info-bg {
        position: fixed;
        top: 0;
        left: 0;
        cursor: auto;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        opacity: 0;
        animation: opacity 500ms ease-out forwards;
    }
}

@media not all and (min-width:100ch) {
    .header-top {
        &__title {
            width: 100%;
        }
    }
}

@media (min-width:100ch) {
    .header-top {
        justify-content: space-around;
        &__title {
            &:hover, &:active {
                &::after {
                    content: "";
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background-color: var(--color-body);
                    opacity: 0;
                    animation: opacity 500ms ease-out forwards;
                }
            }
            > span {
                margin-right: .35rem;
            }
        }
        &__plus {
            margin-left: .35rem;
        }
    }
}

@keyframes opacity {
    100% {
        opacity: 1;
    }
}