/*************************************************************************
********************************** Prefix ********************************
**************************************************************************/
body {
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-secondary);
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3 {
  margin: 1rem 0;
  color: var(--color-heading);
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: clamp(1.5rem, 2vw, 2.25rem);
}

h2 {
  font-size: clamp(1.25rem, 1.75vw, 1.75rem);
}

h3 {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

a {
  text-decoration: none;
  color: var(--color-attantion);
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

select {
  height: 1.75rem;
  border: 1px solid #b9b9b9;
}

main {
  z-index: 0;
}

button, select {
   outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*************************************************************************
********************************** Layout ********************************
**************************************************************************/

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



/*************************************************************************
********************************** Classes *******************************
**************************************************************************/

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.boxed-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1248px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.underline {
  text-decoration: underline;
}

.list-style-none {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.site-padding {
  padding-right: clamp(1rem, 3vw, 3rem);
  padding-left: clamp(1rem, 3vw, 3rem);
}

.no-margin {
  margin: 0;
}

.bg-body {
   background-color: var(--color-body);
}

.transparent {
  background-color: transparent;
}

.circle {
  border-radius: 50%;
}

.font-color {
  color: var(--color-text);
}

.text-center {
  text-align: center;
}

.overflow-y-auto {
  overflow-y: auto;
}

.bg-primary {
  background-color: var(--color-primary);
}

.color-white {
  color: white;
}

.font-light {
  font-weight: 100;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.btn {
  background-color: transparent;
  transition: background-color 200ms, color 200ms;
  padding: 1.25rem 2rem;
  color: var(--color-secondary);
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-body);
  &:active, &:hover {
    background-color: var(--color-primary);
  }
}

.btn-cross {
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  span {
    background-color: var(--color-primary);
    height: 2px;
    width: 100%;
    position: absolute;
    &:nth-child(1) {
      transform: rotate(45deg)
    }
    &:nth-child(2) {
      transform: rotate(-45deg)
    }
  }
}

.btn-plus {
  border: 2px solid var(--color-primary);
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  transition: background-color 500ms;
  span {
    background-color: var(--color-primary);
    height: 2px;
    width: 50%;
    position: absolute;
    &:nth-child(1) {
      transform: rotate(90deg)
    }
  }
  &:hover, &:active {
      background-color: var(--color-primary);
      span {
        background-color: var(--color-body);
      }
  }
}

.hide {
  display: none;
}

@media (min-width:100ch) {
  .hide-l {
    display: none!important;
  }
}

@media not all and (min-width:100ch) {
  .hide-sm {
    display: none!important;
  }
}

@media (min-width:150ch) {
  .hide-xl {
    display: none;
  }
}

@media not all and (min-width:150ch) {
  .hide-sm-l {
    display: none;
  }
}

.underline-animation {
    position: relative;
    padding: 0;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right:0;
            left: 0;
            height: 1px;
            background-color: var(--color-secondary);
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 150ms;
        }
        &:hover, &:active {
            &::after {
                transform: scaleX(1);
            }
        }
}
