.product {
    margin-top: 3rem;
    &__picture {
        margin: 2rem 0;
        img {
            max-height: 15rem;
        }
    }
    &__breadcrumb {
        ul {
            gap: 1.75rem;
            padding: 0;
            li:first-child {
                list-style: none;
            }

        }
    }
    &__form {
        accent-color: var(--color-secondary);
        label {
            margin-right: 1rem;
        }
        &__btn {
            margin: 1rem 0;
        }
    }
    &__description {
        margin-bottom: 1.5rem;
    }
    &__details {
        border-bottom: 1px solid #d2d2d2;
        padding: 0.75rem 0;
        font-size: clamp(12px, 0.75vw, 14px);
        &--border-top {
            border-top: 1px solid var(--color-primary);
        }
        &__btn {
            top: 1rem;
            right: 1rem;
        }
    }
    &__pay {
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 1rem;
    }
}

@media (min-width: 100ch) {
    .product {
        &__title {
            margin-top: 0.5rem;
        }
        &__picture {
            img {
                max-height: 27rem;
            }
        }
        &__breakpoint {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
        }
    }
}

@media (min-width: 150ch) {
    .product {
        &__breakpoint {
            display: unset;
            max-width: 55ch;
        }
        &__desktop-breakpoint {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 33%;
        }
        &__picture img {
            max-height: unset;
        }
    }
}