.promo {
    padding: 1rem 0;
    margin: 0 1rem;
    &__btn-plus {
        border: 2px solid grey;
        span {
            background-color: grey;
        }
        &:hover, &:active {
            background-color: white;
            border: 2px solid white;
            span {
                background-color: var(--color-primary);
            }
        }
    }
}

.promo {
    &__slide {
        color: var(--color-secondary);
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        &__inner {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        &__btn-cross {
            right: 1rem;
            top: 1rem;
        }
        &__title {
            font-size: 1.3rem;
        }
    }
    &__label {
        margin-bottom: 2rem;
        &__text {
            font-size: 1.1rem;
            color: grey;
        }
        &__input {
            border: none;
            border-bottom: 1px solid var(--color-primary);
            font-size: 1.3rem;
            padding: .5rem 0;
        }
    }
}

.promo-bg {
    z-index: 0;
}

@media not all and (min-width: 100ch) {
    .promo {
        border-bottom: 1px solid rgb(63, 63, 63);
        &__slide {
            transform: translateY(-100%);
            transition: transform 300ms;
            &__inner {
                height: max-content;
            }
        }

    }
    .flex.promo__slide {
       animation: slideDown 300ms ease-out forwards;
    }
    @keyframes slideDown {
        100% {
            transform: translateY(0);
        }
    }
}

@media (min-width: 100ch) {
    .promo {
        width: 30rem;
        margin: 0 0 0 auto;
        padding: 1rem;
        border: 0;
        &__slide {
            align-items: center;
            justify-content: center;
            opacity: 0;
            &__inner {
                max-width: 60ch;
                margin: auto;
                box-shadow: 0 7px 15px -10px;
            }
        }
        &__btn-text {
            padding: 0;
        }
    }
    .flex.promo__slide {
       animation: opacity 300ms ease-out forwards;
    }
    
}